{% extends 'base.html.twig' %}

{% block title %}{{ controller_name}}{% endblock %}

{% block body %}
<div>
    <H1>Bienvenue !</H1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock %}
